/* TODO Add site wide styles */
html,
body,
#root {
  background-color: #222;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

.main__container {
  background-color: black;
  height: auto;
}

.MuiInputBase-root,
.MuiFormLabel-root,
.MuiTypography-body1 {
  color: white !important;
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiTypography-body2 {
  color: white !important;
}

.MuiCardContent-root {
  padding: 1rem 0 !important;
}

.MuiTypography-h2 {
  padding-top: 0.875rem;
}

.MuiTypography-h4,
.MuiTypography-h5 {
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiCardHeader-root {
  padding: 1rem 0 !important;
}

.MuiTypography-p,
.MuiTypography-body2 {
  font-family: "Roboto", sans-serif !important;
}

.title__camera {
  vertical-align: middle;
}

.title__camera path {
  fill: rgba(198, 120, 221, 0.9);
  /* fill: rgba(97, 175, 239, 1); */
  /* fill: rgba(97, 175, 239, 0.5); */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #222 inset;
  border: 1px solid transparent;
  font-family: inherit;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  transition: background-color 5000s ease-in-out 0s;
}
