/* TODO Add site wide styles */
html,
body,
#root {
  background-color: #222;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

.landing__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  /* grid-auto-rows: 200px; */
  grid-auto-rows: auto;
  grid-template-areas:
    ". . ."
    ". con ."
    ". con ."
    ". . .";
  height: 100%;
}

.landing__logo {
  align-self: center;
  color: rgba(198, 120, 221, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
  padding: 1rem 0 0;
  justify-self: center;
}

.landing__content {
  display: flex;
  flex-flow: column nowrap;
  grid-area: con;
  justify-self: center;
  padding: 1.618rem;
}

.landing__photo {
  background-clip: content-box;
  border: 1px solid rgba(198, 120, 221, 0.4);
  border-radius: 4px;
  box-shadow: 3px 3px 0px rgba(198, 120, 221, 0.5),
    6px 6px 0px rgba(97, 175, 239, 0.5), 9px 9px 0px rgba(198, 120, 221, 0.5),
    12px 12px 0px rgba(97, 175, 239, 0.5),
    15px 15px 0px rgba(198, 120, 221, 0.5),
    18px 18px 0px rgba(97, 175, 239, 0.5);
  height: 300px;
  margin-right: 0.875rem;
  opacity: 1;
  padding: 1.618rem;
  transition-delay: 2s;
  transition-duration: 2s;
  transition-property: opacity;
  width: 300px;
}

.landing__photo_src {
  width: 100%;
}

.landing__get_started {
  margin: 2.25rem 2rem;
  text-decoration: none;
}

.landing__get_started:hover {
  /* border-bottom: 1px solid rgba(97, 175, 239, 0.5); */
  border-bottom: 1px solid rgba(198, 120, 221, 0.5);
  color: rgba(198, 120, 221, 1);
}

.landing__subtitle,
.landing__get_started {
  align-self: center;
  color: rgba(97, 175, 239, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75rem;
  justify-self: center;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-align: center;
  text-transform: uppercase;
}

.add_post_form {
  background-color: #000;
  border: 1px solid rgba(97, 175, 239, 0.4);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  /* position: absolute; */
  /* left: -308px; */
  /* top: -63px; */
  width: 330px;
}

.add_post_content {
  background-color: transparent;
  border: medium none;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 0.5rem;
  /* width: 90%; */
}

.add_post_image_url {
  background-color: transparent;
  border: medium none;
  color: white;
  margin: 1rem 0.5rem;
  width: 90%;
}

.add_post_photo_upload {
  border: 1px solid rgba(198, 120, 221, 0.5);
  border-radius: 4px;
  color: rgba(198, 120, 221, 1);
  cursor: pointer;
  flex: 1 1 100%;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.add_post_field_focus {
  border-bottom: 1px solid rgba(97, 175, 239, 1);
  border-collapse: collapse;
  outline: none;
}

.add_post_action_button {
  background-color: transparent;
  border: medium none;
  color: rgba(97, 175, 239, 1);
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  padding: 1rem;
}

.add_post_action_button:active {
  outline: none;
}

.add_post_photo_upload:hover,
.add_post_action_button:hover {
  border-bottom: 1px solid rgba(198, 120, 221, 0.5);
  color: rgba(198, 120, 221, 1);
}

.add_post_actions {
  align-items: center;
  /* border: 1px solid rgba(97, 175, 239, 1); */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.main__container {
  background-color: black;
  height: auto;
  padding-bottom: 10rem;
}

.main__container_detail_row {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.main__appbar_icons:hover {
  color: rgba(97, 175, 239, 1);
}

.main__appbar_icons_alt:hover {
  color: rgba(198, 120, 221, 1);
}

.MuiIconButton-root:hover {
  background-color: none;
  /* overflow: hidden; */
}

.hide_post_nav_arrows {
  opacity: 0;
  pointer-events: none;
}

.main__container_detail_row_text {
  color: rgba(97, 175, 239, 1);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  padding: 0 2rem;
  text-transform: uppercase;
}

.post__author {
  font-weight: 700;
  font-size: 1rem;
}

.post__author {
  color: rgba(97, 175, 239, 1);
}

.post__creation {
  color: #c678dd;
}

.post__comments {
  /* container */
  align-items: center;
  border: 1px dotted rgba(97, 175, 239, 0.1);
  border-radius: 4px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.25rem;
}

.post__comments_meta_row {
  /* border-bottom: 1px solid rgba(198, 120, 221, 1); */
  align-items: baseline;
  border-bottom: 1px solid rgba(97, 175, 239, 1);
  color: rgba(97, 175, 239, 1);
  display: flex;
  flex-flow: row nowrap;
  font-family: "Josefin Sans", sans-serif !important;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.post__comment_author {
  /* color: rgba(97, 175, 239, 1); */
  color: rgba(198, 120, 221, 1);
  font-size: 0.875rem;
  margin-right: 0.25em;
  text-align: left;
}

.post__comment_elapsed {
  color: rgba(97, 175, 239, 1);
  /* color: rgba(198, 120, 221, 1); */
  font-size: 0.625rem;
}

.post__comment {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  flex: 1 1 100%;
  font-size: 0.75rem;
  padding: 0 0.25rem;
  text-align: left;
}

.post__comment-delete-icon {
    font-size: 1.25rem !important;
    padding: 0 !important;
}

.post_comments_meta_num {
  margin: 0;
}

.post__actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: "l . . . . . c"; */
}

.post__actions-like {
    grid-area: l;
}

.post__actions-delete {
    background-color: rgba(0, 0, 0, 1) !important;
    background-clip: content-box;
    position: relative !important;
    bottom: 315px;
    left: 140px;
}

.post__actions-comments {
    grid-area: c;
}

.post__header {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post__likes,
.post__comment_total {
  color: rgba(97, 175, 239, 1);
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 0 1.25rem 0;
}

.post__comment_add_form {
  background-color: #000;
  border: 1px solid rgba(97, 175, 239, 0.4);
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  position: absolute;
  left: -308px;
  top: -63px;
  width: 330px;
}

.post__comment_add_actions {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
}

.post__comment_add_text {
  background-color: transparent;
  border: medium none;
  color: white;
  margin: 0 0.5rem;
  width: 90%;
}

.post__comment_text_focus {
  /* background-color: yellow; */
  border-bottom: 1px solid rgba(97, 175, 239, 1);
  border-collapse: collapse;
  outline: none;
}

/* #post__add_comment {
  height: 200px;
  width: 200px;
} */

.MuiInputBase-root,
.MuiFormLabel-root {
  color: white !important;
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiTypography-body2 {
  color: white !important;
}

.MuiCardContent-root {
  padding: 1rem 0 !important;
}

.MuiTypography-h2 {
  padding-top: 0.75rem;
}

.MuiTypography-h4,
.MuiTypography-h5 {
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiTypography-h5 {
  display: inline !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
}

.MuiCardHeader-root {
  padding: 1rem 0 !important;
}

.MuiCardActions-root {
  padding: 0.5rem 0 !important;
}

.MuiIconButton-root {
  padding: 0.5rem 0 !important;
}

.MuiCardHeader-subheader {
  color: rgba(198, 120, 221, 1) !important;
  display: inline !important;
  font-size: 0.75rem !important;
  font-weight: 700 !important;
}

.MuiCardHeader-content {
  padding: 0.5rem 0;
}

.MuiTypography-p,
.MuiTypography-body1,
.MuiTypography-body2 {
  font-family: "Mukta", sans-serif !important;
}

.title__camera {
  vertical-align: middle;
}

.title__camera path {
  fill: rgba(198, 120, 221, 0.9);
  /* fill: rgba(97, 175, 239, 1); */
  /* fill: rgba(97, 175, 239, 0.5); */
}

/* DROPZONE AREA STYLES */

.dropZoneArea .MuiDropzoneArea-root {
  background-color: transparent;
  border: 1px solid rgba(198, 120, 221, 0.4);
  color: rgba(198, 120, 221, 1);
}

.MuiDropzoneArea-icon {
  color: rgba(198, 120, 221, 1) !important;
}

.MuiDropzoneSnackbar-successAlert {
  background-color: #222 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #222 inset;
  border: 1px solid transparent;
  font-family: inherit;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@media screen and (min-width: 768px) {
    .landing__logo {
        font-size: 4rem;
        line-height: 4rem;
    }
}