/* TODO Add site wide styles */
html,
body,
#root {
  background-color: #222;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

.main__container {
  background-color: black;
  height: auto;
  padding-bottom: 10rem;
}

.main__post_container_heading {
  color: rgba(97, 175, 239, 1);
  font-family: "Josefin Sans", sans-serif !important;
}

.post__author,
.post__creation {
  color: rgba(97, 175, 239, 1);
  font-weight: 700;
  font-size: 1rem;
}

.post__comments {
  /* container */
  display: flex;
  padding: 1rem 0.5rem;
}

.post__comments_meta_row {
  /* border-bottom: 1px solid rgba(198, 120, 221, 1); */
  border-bottom: 1px solid rgba(97, 175, 239, 1);
  color: rgba(97, 175, 239, 1);
  display: flex;
  flex-flow: row nowrap;
  font-family: "Josefin Sans", sans-serif !important;
  justify-content: space-between;
  /* margin-bottom: 0 !important; */
}

.post__comment_author {
  color: rgba(97, 175, 239, 1);
  font-size: 1.25rem;
  /* text-align: left; */
}

.post__comment {
  font-size: 0.875rem !important;
  padding: 0 0.5rem;
  text-align: left;
}

.post__header {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.post__likes,
.post__comment_total {
  color: rgba(97, 175, 239, 1);
  font-family: "Josefin Sans", sans-serif !important;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0 0 1.25rem 0;
}

.MuiInputBase-root,
.MuiFormLabel-root {
  color: white !important;
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiTypography-body2 {
  color: white !important;
}

.MuiCardContent-root {
  padding: 1rem 0 !important;
}

.MuiTypography-h2 {
  padding-top: 0.75rem;
}

.MuiTypography-h4,
.MuiTypography-h5 {
  font-family: "Josefin Sans", sans-serif !important;
}

.MuiTypography-h5 {
  display: inline !important;
  font-size: 0.875rem !important;
  font-weight: 700 !important;
}

.MuiCardHeader-root {
  padding: 1rem 0 !important;
}

.MuiCardActions-root {
  padding: 0.5rem 0 !important;
}

.MuiIconButton-root {
  padding: 0.5rem 0 !important;
}

.MuiCardHeader-subheader {
  color: rgba(198, 120, 221, 1) !important;
  display: inline !important;
  font-size: 0.75rem !important;
  font-weight: 700 !important;
}

.MuiCardHeader-content {
  padding: 0.5rem 0;
}

.MuiTypography-p,
.MuiTypography-body1,
.MuiTypography-body2 {
  font-family: "Mukta", sans-serif !important;
}

.title__camera {
  vertical-align: middle;
}

.title__camera path {
  fill: rgba(198, 120, 221, 0.9);
  /* fill: rgba(97, 175, 239, 1); */
  /* fill: rgba(97, 175, 239, 0.5); */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #222 inset;
  border: 1px solid transparent;
  font-family: inherit;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #222 inset;
  transition: background-color 5000s ease-in-out 0s;
}
